  /* Do i need divs for answer buttons? */

  /* Classes/Id's for answer choices, add hover */

  /* Welcome page needs to be hidden after starting game */

  /* How do I hide HTML ??? */

  /* Question/Answers need to be hidden */

  /* Leaderboard needs to be hidden */
  
  /* Add Flex */

  /* Hide elements using JavaScript */

 
/* Basic styling, keep it simple */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

   body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
  }

   a {
    text-decoration: none;
  }

  section {
    text-align: center;
    justify-content: center;
  }

   /* Header */
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
  }

   .scores a {
    color: #E0125E;
    cursor: pointer;
  }

   .scores a:hover {
    color: #FFA6C9;
  }

   /* Start Quiz */
   h1 {
    margin-bottom: 10px;
  }

   h2 {
    color: var(--tertiary-color);
    border-top: 1px solid var(--tertiary-color);
    margin: 20px 0;
    font-style: italic;
    text-align: center;
  }

   /* Buttons */

  .btn-list {
    display: grid;
    margin: 20px 0;
  }

   button {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    width: auto;
    padding: 10px;
    background-color: #E0125E;
    border-radius: 10px;
    font-size: large;
    margin: 10px;
  }

   button:hover {
    background-color: #FFA6C9;
  }

   .hide {
    display: none;
  }

   .btn.correct {
    background-color: #FF008F;
  }

   .btn.wrong {
    background-color: #F2BBC9;
  }

    /* Buttons */
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

   /* Initials */
  input[type="text"] {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #FF008F;
    border-radius: 4px;
    box-sizing: border-box;
  }

   /* Highscores Page */
  .highscore {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

   .name-div,
  .score-div {
    flex: 1 35%;
    padding: 10px 0;
    border: 1px solid #FF008F;
  }
 